In [1]:
import pandas as pd

# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Read data for data engineering
# measures = pd.read_csv('clean_hawaii_measurements.csv')
# stations = pd.read_csv('clean_hawaii_stations.csv')

In [3]:
# Create the Stations class
class Stations(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key = True, autoincrement=True)
    station = Column(String(12))
    name = Column(String(255))
    latitude = Float(3,4)
    longitude = Float(3,4)
    elevation = Float(4,2)
    
#Create the Measures class
class Measures(Base):
    __tablename__ = 'Measures'
    id = Column(Integer, primary_key=True, autoincrement=True)
    station = Column(String(12))
    date = Column(String(10))
    prcp = Column(Float(3,2))
    tobs = Column(Integer)
    year = Column(String(4))
    month = Column(String(2))

In [4]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///hawaii.db', echo=True)

In [5]:
# Create the Stations and Measures tables within the database
Base.metadata.create_all(engine)

2018-04-01 09:16:27,399 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-04-01 09:16:27,415 INFO sqlalchemy.engine.base.Engine ()
2018-04-01 09:16:27,422 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-04-01 09:16:27,426 INFO sqlalchemy.engine.base.Engine ()
2018-04-01 09:16:27,430 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Stations")
2018-04-01 09:16:27,432 INFO sqlalchemy.engine.base.Engine ()
2018-04-01 09:16:27,438 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Measures")
2018-04-01 09:16:27,441 INFO sqlalchemy.engine.base.Engine ()
2018-04-01 09:16:27,446 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Stations" (
	id INTEGER NOT NULL,
	station VARCHAR(12),
	name VARCHAR(255),
	PRIMARY KEY (id)
)


2018-04-01 09:16:27,448 INFO sqlalchemy.engine.base.Engine ()
2018-04-01 09:16:27,468 INFO sqlalchemy.engine.base.Engine COMMIT
2018-04-01 09:16:27,475 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Measures" (
	id INTEGER NOT NULL,
	station VARCHAR(12),
	date VARCHAR(10),
	prcp FLOAT,
	tobs INTEGER,
	year VARCHAR(4),
	month VARCHAR(2),
	PRIMARY KEY (id)
)


2018-04-01 09:16:27,479 INFO sqlalchemy.engine.base.Engine ()
2018-04-01 09:16:27,507 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
# To push the objects made and query the server we use a Session object
# from sqlalchemy.orm import Session
# session = Session(bind=engine)

In [7]:
import sqlite3, csv
con = sqlite3.connect("hawaii.db")
cur = con.cursor()

In [8]:
with open('clean_hawaii_measurements.csv','r') as measure_table:
    drm = csv.DictReader(measure_table)
#     print(drm)
#     for x in drm:
#         print(x)
    to_db_m = [(idx , i['station'], i['date'], i['prcp'], i['tobs'], i['year'],i['month']) for i, idx in drm]

cur.executemany("INSERT INTO measures VALUES (?,?,?,?,?,?,?);", to_db_m)

ValueError: too many values to unpack (expected 2)

In [ ]:
# with open('clean_hawaii_stations.csv','r') as station_table:
#     drs = csv.DictReader(station_table)
#     to_db_s = [(idx, i['station'], i['name'], i['latitude'], i['longitude'],) for i, idx in drs]

# cur.executemany("INSERT INTO stations VALUES (?,?,?,?,?);", to_db_s)

In [ ]:
con.commit()